name: ebizbase

x-common-config: &common
  healthcheck:
    interval: 10s
    timeout: 5s

x-infras-config: &infras
  <<: *common
  healthcheck:
    start_period: 10s
    retries: 3

x-apps-config: &apps
  <<: *common
  env_file: .env
  healthcheck:
    start_period: 30s
    retries: 10

x-services-config: &services
  <<: *apps
  build:
    dockerfile: Dockerfile.service
  volumes:
    - .:/workspace
  healthcheck:
    test: ['CMD', '/usr/bin/wget', '--spider', '-q', 'http://127.0.0.1:3000/healthy/readiness']

x-sites-config: &sites
  <<: *apps
  build:
    dockerfile: Dockerfile.site
  volumes:
    - .:/workspace
    - ./.angular/deployment:/workspace/.angular
    - ./dist/deployment:/workspace/dist
  healthcheck:
    test: ['CMD', '/usr/bin/wget', '--spider', '-q', 'http://127.0.0.1']

services:
  traefik:
    <<: *infras
    image: 'traefik:v3.2@sha256:efb87236c8c92599bcd3a67a7a8a55e0f255665f4719722bf398935aa9b92270'
    container_name: traefik
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=true
      - --entryPoints.http.address=:80
    ports:
      - 80:80
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.fbi.com`)
      - traefik.http.routers.traefik.service=traefik@docker
      - traefik.http.services.traefik.loadbalancer.server.port=8080
    healthcheck:
      test: ['CMD', '/usr/bin/wget', '--spider', '-q', 'http://127.0.0.1:8080']

  mongodb:
    <<: *infras
    build: ./infras/mongodb
    container_name: mongodb
    ports:
      - 27017:27017
    labels:
      - traefik.http.routers.mongodb-admin.rule=Host(`mongodb.fbi.com`)
      - traefik.http.routers.mongodb-admin.entrypoints=http
      - traefik.http.services.mongodb-admin.loadbalancer.server.port=8081
    healthcheck:
      test: ['CMD', '/usr/bin/wget', '--spider', '-q', 'http://127.0.0.1:8081']

  redis:
    <<: *infras
    build: ./infras/redis
    container_name: redis
    ports:
      - 6379:6379
    labels:
      - traefik.http.routers.redis-admin.rule=Host(`redis.fbi.com`)
      - traefik.http.routers.redis-admin.entrypoints=http
      - traefik.http.services.redis-admin.loadbalancer.server.port=8081
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']

  rabbitmq:
    <<: *infras
    build: ./infras/rabbitmq
    container_name: rabbitmq
    ports:
      - 5672:5672
    labels:
      - traefik.enable=true
      - traefik.http.routers.rabbitmq-admin.rule=Host(`rabbitmq.fbi.com`)
      - traefik.http.routers.rabbitmq-admin.entrypoints=http
      - traefik.http.services.rabbitmq-admin.loadbalancer.server.port=15672
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'ping']

  mailhog:
    <<: *infras
    build: infras/mailhog
    container_name: mailhog
    labels:
      - traefik.http.routers.mailhog-admin.rule=Host(`mail.fbi.com`)
      - traefik.http.routers.mailhog-admin.entrypoints=http
      - traefik.http.services.mailhog-admin.loadbalancer.server.port=8025
    healthcheck:
      test: wget --spider -q http://localhost:8025

  minio:
    <<: *infras
    build: infras/minio
    container_name: minio
    labels:
      - traefik.enable=true
      - traefik.http.routers.minio-admin.rule=Host(`minio.fbi.com`)
      - traefik.http.routers.minio-admin.entrypoints=http
      - traefik.http.services.minio-admin.loadbalancer.server.port=9001
      - traefik.http.routers.minio.rule=Host(`files.fbi.com`)
      - traefik.http.routers.minio.entrypoints=http
      - traefik.http.services.minio.loadbalancer.server.port=9000
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']

  mailer-service:
    <<: *services
    container_name: mailer-service
    working_dir: /workspace/apps/mailer-service
    labels:
      - traefik.http.routers.mailer-service.rule=Host(`mailer-service.fbi.com`)
      - traefik.http.routers.mailer-service.entrypoints=http
      - traefik.http.services.mailer-service.loadbalancer.server.port=3000
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      mailhog:
        condition: service_healthy

  static-assets:
    <<: *apps
    image: flashspys/nginx-static
    container_name: static-assets
    volumes:
      - ./apps/static-assets/public:/static
      - ./node_modules/@taiga-ui/icons/src:/static/icons
    labels:
      - traefik.http.routers.static-assets.rule=Host(`static-assets.fbi.com`)
      - traefik.http.routers.static-assets.entrypoints=http
      - traefik.http.services.static-assets.loadbalancer.server.port=80
    healthcheck:
      test: ['CMD', '/usr/bin/wget', '--spider', '-q', 'http://127.0.0.1/favicon.ico']

  iam-service:
    <<: *services
    container_name: iam-service
    working_dir: /workspace/apps/iam-service
    labels:
      - traefik.http.routers.iam-service.rule=Host(`iam-service.fbi.com`)
      - traefik.http.routers.iam-service.entrypoints=http
      - traefik.http.services.iam-service.loadbalancer.server.port=3000
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_healthy

  home-site:
    <<: *sites
    container_name: home-site
    environment:
      - PROJECT=home-site
    labels:
      - traefik.http.routers.home-site.rule=Host(`fbi.com`)
      - traefik.http.routers.home-site.entrypoints=http
      - traefik.http.services.home-site.loadbalancer.server.port=80

  accounts-site:
    <<: *sites
    container_name: accounts-site
    environment:
      - PROJECT=accounts-site
    labels:
      - traefik.http.routers.accounts-site.rule=Host(`accounts.fbi.com`)
      - traefik.http.routers.accounts-site.entrypoints=http
      - traefik.http.services.accounts-site.loadbalancer.server.port=80

  my-account-site:
    <<: *sites
    container_name: my-account-site
    environment:
      - PROJECT=my-account-site
    labels:
      - traefik.http.routers.my-account-site.rule=Host(`my-account.fbi.com`)
      - traefik.http.routers.my-account-site.entrypoints=http
      - traefik.http.services.my-account-site.loadbalancer.server.port=80
