name: Welcome

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:

  welcome-new-contributor:
    runs-on: ubuntu-latest
    steps:
      - name: Greet the contributor
        uses: garg3133/welcome-new-contributors@a38583ed8282e23d63d7bf919ca2d9fb95300ca6 # v1.2
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
          issue-message: Hello @contributor_name, thanks for opening your first issue. We welcome you to the community!
          pr-message: Hello @contributor_name, thanks for opening your first Pull Request. Our team will review it soon.
